.back {
  background-color: #10c9c3;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin: 25px;
  width: 25%;
}
.text {
  color: #fff;
  &__title {
    font-size: 18px;

    letter-spacing: 0.54px;
    margin-bottom: 15px;
  }
  &__subtitle {
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}
.images {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .text__subtitle {
    font-size: 10px;
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .item {
    width: 40%;
    margin: 10px;
  }
  .text {
    color: #fff;
    &__title {
      margin-bottom: 8px;
    }
  }
  .images {
    width: 30px;
    height: 30px;
  }
}
