.background {
  opacity: 0.8;
  z-index: 98;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
}
.foto {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  margin: 0 auto;
  height: 80vh;
}
.close {
  fill: #10c9c3;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  top: 10%;
  right: 10%;
  width: 30px;
  height: 30px;
  z-index: 101;
}

@media (max-width: 768px) {
  .foto {
    max-width: 70%;
    height: auto;
  }
}

