.section {
  background-color: #ffffff;
}
.clients {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 64px 0;
  &__block {
    padding: 20px 10px;
    max-width: 20%;
    height: auto;
    text-align: center;
    opacity: 0.7;
  }
}

@media (max-width: 960px) {
  .clients {
    flex-wrap: wrap;
    &__block {
      max-width: 50%;
    }
  }
}
